@inherits Dialog<MessageDialogParameters, object>


<DialogLayout IsDisplayed="IsDisplayed">
    <Modal Title="@Params.Title" OnClose="() => this.Close(null)" OnKeyEnterPressed="OnKeyEnterPressed" DispalyCenter="true">
        <Content>
            <div class="d-flex flex-row mt-2">
                @((MarkupString)Params.Message)
            </div>
        </Content>
        <Footer>
            <div class="mt-3">
                <ModalButton class="btn-outline-success" OnClick="() => this.Close(null)">Ok</ModalButton>
            </div>
        </Footer>
    </Modal>
</DialogLayout>

@code {

    protected void OnKeyEnterPressed()
    {
        this.Close(null);
    }
}