@inherits Dialog<InputDialogParameters, string>

<DialogLayout IsDisplayed="IsDisplayed">
    <Modal Title="@Params.Title" OnClose="() => this.Cancel()" DispalyCenter="true" OnKeyEnterPressed="OnKeyEnterPressed">
        <Content>
            <input type="text" placeholder="@Params.Placeholder" class="form-control mt-2" @bind-value="Value" @bind-value:event="oninput" />
        </Content>
        <Footer>
            <div class="mt-3">
                <ModalButton class="btn-outline-danger" OnClick="() => this.Cancel()">@Params.CancelButton</ModalButton>
                <ModalButton class="btn-outline-success" OnClick="() => this.Close(Value)">@Params.CompleteButton</ModalButton>
            </div>
        </Footer>
    </Modal>
</DialogLayout>

@code {
    protected string Value { get; set; }

    protected override void OnAfterShow()
    {
        Value = "";
        StateHasChanged();
    }

    protected void OnKeyEnterPressed()
    {
        this.Close(Value);
    }
}